<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VSS - Seu app em primeiro plano</title>
    <link rel="shortcut icon" href="_img/Logo.jpg">

    <!-- My scripts -->
    <link rel="stylesheet" href="_css/style.css">

    <!-- CSS Frameworks -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body data-ng-app="" data-ng-init="menu=false" style="overflow: hidden;">
    <div id="load">
        <div class="load load-black">Carregando...</div>
        <div class="load load-1"></div>
        <div class="load load-2"></div>
    </div>
    <nav id="navbar" data-ng-init="links=[
        {'src':'#','txt':'Home'},
        {'src':'#','txt':'Portf&oacute;lio'},
        {'src':'#','txt':'Pre&ccedil;os'},
        {'src':'#','txt':'Sobre mim'},
        {'src':'#','txt':'Contato'}
    ]">
        <h1>
            <a href="#">
                <img src="_img/Logo.jpg" alt="GML Sistemas">
            </a>
        </h1>
        <span id="toggleMenu" data-ng-click="menu = !menu">
            <i class="fa fa-fw fa-{{menu && 'times' || 'bars'}}"></i>
        </span>

        <ul id="menu" style="display: {{menu && 'flex' || 'none'}}">
            <li data-ng-repeat="link in links">
                <a href="{{link.src}}">{{link.txt}}</a>
            </li>
        </ul>
    </nav>

    <main class="body{{menu && ' hovered' || ''}}"> 
    
        <!-- Introdução -->
        <div class="parallax" style="background-color: black; color: white;">
            <h1 style="border: none; text-align: center;">Olá, bora criar um app?</h1>
            <hr style="width: 50vw;">
            <h3>Desenvolvemos aplicações web e para computadores, otimizadas para o seu negócio!</h3>
        </div>

        <!-- Grid -->
        <div class="col col-content-fst">
            <div class="parallax" style="background-color: aquamarine;" data-from="right">
                <h2>Responsivo</h2>
                <p>Seu site se encaixa perfeitamente em todos os dispositivos, desde celulares, computadores até televisões em 4K!</p>
            </div>
            <div class="parallax" style="background-color: blueviolet;" data-from="left">
                <h2>Assíncrono</h2>
                <p>Já imaginou um site com o mínimo de carregamentos possível? Bem vindo ao futuro!</p>
            </div>
        </div>
        <div class="col col-content-lst">
            <div class="parallax" style="background-color: tomato;" data-from="right">
                <h2>Otimizado para SEO</h2>
                <p>Imagine seu site nas pimeiras páginas do Google! Com o Search Engine Optimization, alcançamos a melhor taxa de cliques!</p>
            </div>
            <div class="parallax" style="background-color: darkkhaki;" data-from="left">
                <h2>Formulários de contato</h2>
                <p>Seu site é a porta de entrada para seus clientes, então por que não deixar um espaço para bilhetes?!</p>
            </div>
        </div>
        <div class="col col-content-fst">
            <div class="parallax" style="background-color: deepskyblue;" data-from="right">
                <h2>Apps multiplataformas</h2>
                <p>Já pensou em ter um aplicativo também no android ou no PC? Nós desenvemos para todos os sistemas! Linux, Windows, Mac, iOS, Android...</p>
            </div>
            <div class="parallax" style="background-color: lightgreen;" data-from="left">
                <h2>Título</h2>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá. Atirei o pau no gatis, per gatis num morreus.Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá. Atirei o pau no gatis, per gatis num morreus.</p>
            </div>
        </div>

        <!-- Preços -->
        <div id="prices">
            <h1>Pre&ccedil;os</h1>
            <div class="price-top" data-from="left">
                <h1>Site one page</h1>
                <h2>R$480,00</h2>
                <ul>
                    <li>Páginas: 1</li>
                    <li>Uso mínimo de multimídia</li>
                </ul>
            </div>
            <div class="price-top" data-from="right">
                <h1>Site simples</h1>
                <h2>R$800,00</h2>
                <ul>
                    <li>Páginas: 5</li>
                    <li>Uso mínimo de multimídia</li>
                    <li>Dinâmico</li>
                </ul>
            </div>
            <div class="price-bottom" data-from="bottom">
                <h1>Site corporativo personalizado</h1>
                <h2>R$1300,00</h2>
                <ul>
                    <li>Páginas: 10</li>
                    <li>Uso intensivo de multimídia</li>
                    <li>Dinâmico</li>
                    <li>CSS personalizado</li>
                    <li>Gerenciador de conteúdo</li>
                    <li>Newsletter</li>
                    <li>Otimização para lead</li>
                </ul>
            </div>
            <a href="">Mais opções de pacote</a>
        </div>

        <!-- Clientes -->
        <div id="clients">
            <h1>Nossos clientes</h1>
            <div>
                <img data-from="bottom" src="_img/Cooperbatata.png" alt="Cooperativa dos Bataticultores da Regi&atilde;o de Vargem Grande do Sul">
                <img data-from="bottom" src="_img/Youxi.png" alt="Youxi Entretenimento">
            </div>
        </div>
        <!-- Projetos -->
        <!-- Colaboradores -->
        <div id="contributors" style="padding: 10px;">
            <h1 style="padding: 10px; margin-bottom: .5rem;">Mas... Quem somos?</h1>
            <div class="col col-2">
                <div class="card acenter" data-from="left">
                    <h2>Guilherme Martinho Luiz</h2>
                    <img src="_img/Guilherme.jpg" alt="Guilherme" class="profile-picture" />
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá. Atirei o pau no gatis, per gatis num morreus.</p>
                </div>
                <div class="card acenter" data-from="right">
                    <h2>Eric Gabriel Varola</h2>
                    <img src="_img/Eric.jpg" alt="Eric" class="profile-picture">
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá. Atirei o pau no gatis, per gatis num morreus.</p>
                </div>
            </div>
        </div>

        <!-- Rodapé -->
        <footer data-from="null">
            <div class="col col-2">
                <table>
                    <tr>
                        <td colspan="2"><h2 class="acenter">Entre em contato</h2></td>
                    </tr>
                    <tr>
                        <td>Nome</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="name" id="name" /></td>
                        <td><input type="email" name="mail" id="mail"></td>
                    </tr>
                    <tr>
                        <td colspan='2'>Mensagem</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="message" id="message" rows="10" style="min-height: 12em;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="aright" colspan="2">
                            <button class="btn btn-st" disabled>Enviar mensagem</button>
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="col col-content-lst">
                        <div>
                            <i class="far fa-fw fa-3x fa-envelope"></i>
                        </div>
                        <div>
                            <h3>Email</h3>
                            <h4><a href="mailto:guilherme11do9@gmail.com">guilherme11do9@gmail.com</a></h4>
                        </div>
                    </div>
                    <div class="col col-content-lst">
                        <div>
                            <i class="fab fa-fw fa-3x fa-whatsapp"></i>
                        </div>
                        <div>
                            <h3>Whatsapp</h3>
                            <h4><a href="tel:5519983947480">+55 (19) 9 8394 7480</a></h4>
                        </div>
                    </div>
                    <div class="col col-content-lst">
                        <div>
                            <i class="fab fa-fw fa-3x fa-linkedin"></i>
                        </div>
                        <div>
                            <h3>LinkedIn</h3>
                            <h4><a href="https://www.linkedin.com/in/gmluiz" target="_blank">/gmluiz</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 80%;">
            <p class="acenter">&copy;2020 &bull; Todos os direitos reservados.</p>
        </footer>
    </main>

    <script>
        'use strict';

        window.onload = function() {
            load.remove();
            document.body.removeAttribute('style');
        }
    </script>
    <script src="./_js/scroll.js"></script>
</body>
</html>