* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -moz-user-select: none;
         user-select: none;
}
:root {
    font-size: 14pt;
    font-family: Consolas, 'Courier New', monospace;
}

// Atoms
    // HTML Elements
    @import 'atoms/html-elements/body.scss';
    @import 'atoms/html-elements/headers.scss';
    @import 'atoms/html-elements/hr.scss';
    @import 'atoms/html-elements/img.scss';
    @import 'atoms/html-elements/ul.scss';

@import 'atoms/animated-divs.scss';
@import 'atoms/buttons.scss';
@import 'atoms/cards.scss';
@import 'atoms/clients.scss';
@import 'atoms/load.scss';
@import 'atoms/profile-picture.scss';
@import 'atoms/scrollbar.scss';
@import 'atoms/text.scss';

// Molecules
@import 'mols/footer.scss';
@import 'mols/forms.scss';
@import 'mols/grid-system.scss';
@import 'mols/menu.scss';
@import 'mols/navbar.scss';
@import 'mols/parallax.scss';
@import 'mols/prices.scss';