* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -moz-user-select: none;
         user-select: none;
}
:root {
    font-size: 14pt;
    font-family: Consolas, 'Courier New', monospace;
}

// Scrollbar
::-webkit-scrollbar{
    width: 10px;
    &-track { background-color: black; }
    &-thumb {
        border-radius: 5px;
        background-image: linear-gradient(pink, purple, red, orange, yellow);
        &:hover { background-color: #666; background-image: none; }
    }
}

// HTML Elements
body {overflow-x: hidden;}
img { max-width: 100%; }
hr { margin: 10px auto; }
ul { list-style-position: inside; }
h1,h2,h3,h4,h5,h6 {
    padding: 10px 20px;
    margin-bottom: .5rem;
    text-align: justify;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 5px 10px;
    border-radius: 5px;
}
textarea {
    resize: vertical;
    min-height: 2em;
}
footer {
    padding: 10px 20px;
    background-color: black;
    color: white;

    input, textarea {
        background-color: #050505;
        border: 1px solid #666;
        color: white;
    }
    a {
        color: #666;
    }

    .col-content-lst {
        grid-template-columns: 30% 70%;
        div:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    h1, h2, h3,
    h4, h5, h6 {
        padding: 5px;
        margin-bottom: 0;
    }
}

// IDs
#navbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: black;
    color: white;

    & + * {
        margin-top: calc(1.5rem + 25px);
    }
    h1 {
        padding: 10px;

        a {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
        }

        img { margin-right: 5px; }
    }
    img {
        height: calc(1.5rem);
    }
    #toggleMenu {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
#menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
    list-style: none;

    li {
        position: relative;
        min-width: 25vw;
        text-align: center;

        &:not(:last-child){ border-bottom: 1px solid; }
        a {
            display: block;
            width: 100%;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background-color: rgba(0,0,0,.4);
            }
        }
    }
}
#prices {
    padding: 20px 10px;
    text-align: center;

    a {
        font-weight: bolder;
        color: red;
        background: -webkit-linear-gradient(left, purple, red, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a:hover {
        -webkit-text-fill-color: initial;
    }
}
#load {
    position: fixed;
    top: 0; left: 0;
    z-index: 2000;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .load {
        border-radius: 50%;
        position: absolute;

        &-black {
            width: 170px;
            height: 170px;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
        }
        &-1 {
            width: 0;
            height: 0;
            border: 120px solid;
            border-color: indigo lime maroon gold;
            z-index: 2;
            animation: load 2s infinite linear;
        }
        &-2 {
            width: 0;
            height: 0;
            border: 150px solid;
            border-color: #260 cyan purple orangered;
            z-index: 1;
            animation: load 2s reverse infinite linear;
        }
    }
}
#clients div{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;

    img {
        height: 100px;
        width: 100px;
        margin: auto 10px;
    }
}

// Classes
.body.hovered {
    filter: blur(4px);
    // transform: scale(1.05);
    transition: .5s;
}
.parallax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    
    h1, h2 {
        width: 100%;
        margin-bottom: .5em;
        border-bottom: 2px solid;
    }
    * { max-width: 80%; }
}
.acenter {
    text-align: center;
}
.aright {
    text-align: right;
}
.ajustify {
    text-align: justify;
}
.price {
    &-top, &-bottom {
        border: 1px solid;
        border-radius: 10px;
        background-color: white;
        text-align: left;
        vertical-align: top;

        h1 {
            background-color: black;
            color: white;
            border-radius: 10px 10px 0 0;
            text-align: center;
        }
        h2 {
            width: fit-content;
            padding: 10px 20px;
            display: block;
            margin: -5px auto 0;
            background-color: greenyellow;
            border-radius: 5px;
        }
        h1, p, ul {
            padding: 0 10px 5px;
        }
    }
    &-top {
        display: inline-block;
        z-index: 1;
        margin: 0 20px;
    }
    &-bottom {
        margin: auto;
        top: -50px;
        max-width: 500px;

        h1 {
            padding-top: 50px;
        }
    }
}
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    cursor: pointer;

    &:disabled{
        background-color: grey;
        background-image: linear-gradient(#888,#333);
        border-color: #888;
        color: #AAA;
    }

    &-nd, &-rd,
    &-success,
    &-danger,
    &-warning {
        color: white;
    }
    &-st {
        background-color: cyan;
        background-image: linear-gradient(#0FF,#066);
        border-color: #0FF;
        color: black;
    }
    &-nd {
        background-color: magenta;
        background-image: linear-gradient(#F0F,#606);
        border-color: #F0F;
    }
    &-rd {
        background-color: purple;
        background-image: linear-gradient(#808,#303);
        border-color: #808;
    }
    &-success {
        background-color: lime;
        background-image: linear-gradient(#0F0,#060);
        border-color: #0F0;
    }
}
.card {
    width: calc(100% - 20px);
    background-color: white;
    box-shadow: 10px 10px 10px #666;
    padding: 20px;
    margin: 10px auto 30px;
    border: 1px solid #000;
    border-radius: 10px;
}
.profile-picture {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

// Sistema de colunas
.col {
    display: grid;

    &-2 {
        grid-template-columns: 50% 50%;
    }
    &-content {
        &-fst {
            grid-template-columns: 60% 40%;
        }
        &-lst {
            grid-template-columns: 40% 60%;
        }
    }
}

// Attributes
[data-from] {
    opacity: 0;
    transition: all 2s;
}
[data-from].show {
    opacity: 1;
    transform: translate3d(0,0,0);
}
[data-from=left]    { transform: translate3d(-30px,0,0); }
[data-from=right]   { transform: translate3d(30px,0,0); }
[data-from=bottom]  { transform: translate3d(0,30px,0); }
[data-from=top]     { transform: translate3d(0,-30px,0); }

// Animations
@keyframes load {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}